<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Blog Template for Bootstrap</title>
</head>

<body>

  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="#">Home</a>
        <a class="blog-nav-item" href="#">New features</a>
        <a class="blog-nav-item" href="#">Press</a>
        <a class="blog-nav-item" href="#">New hires</a>
        <a class="blog-nav-item" href="#">About</a>

        <a class="blog-nav-item" routerLink="/test1" routerLinkActive="active">test1</a>
        <a class="blog-nav-item" routerLink="/test2" routerLinkActive="active">test2</a>
        <a class="blog-nav-item" routerLink="/blog_content" routerLinkActive="active">blog_content</a>
      </nav>

    </div>
  </div>


  <!-- display router view here -->
  <router-outlet></router-outlet>

  <footer class="blog-footer">

    <p>Blog template built for
      <a href="http://getbootstrap.com">Bootstrap</a> by
      <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
</body>

</html>